<div style="height: 100%;">
  <h4>Hi {{me}} - You are chatting with {{with}}</h4>

  <div class="message-section">
    <div *ngFor="let chat of messages">
      <!-- <label class="chatpersonSvg" [ngClass]="chat.name === me ? 'fl-right' : 'fl-left'">{{chat.name[0]}}</label> -->
      <div class="container" [ngClass]="chat.name === me ? 'fl-right' : 'darker fl-left'">
        <p>{{chat.message}}</p>
        <span class="time-right">{{chat.time}}</span>
      </div>
    </div>

  </div>

  <div class="message-input">
    <label style="color: #000;" *ngIf="isTyping">{{with}} Typing...</label>
    <div class="wrap">
    <input (click)="onInput()" (blur)="onBlur()" type="text" placeholder="Write your message..." [(ngModel)]="inputText"/>
    <button class="btn btn-primary submit" (click)="sendMsg()">SEND</button>
    </div>
  </div>
</div>

